* {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
}
input,button {
    cursor: pointer;
}
#current_page {
    text-decoration: underline;
}
header {
    height: max(60px,6vw);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header span {
    display: flex;
}
header span h1 {
    font-size: max(25px,2vw);
}
header span h1:first-child {
    color: #eb32b7;
}
nav{
    width: max(600px,53vw);
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
nav a {
    font-size: max(13px,1vw);
    color: black;
}
nav #navbutton{
    padding: max(8px,1vw);
    border: 2px solid #ee66c8;
    border-radius: 8px;
    color: #ee66c8;
    font-weight: 600;
}
.container1 {
    background-image: linear-gradient(to right, #802dcf,#5f27b5);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.container1 span{
    position: absolute;
    height: 736px;
    width: 700px;
    top: 179px;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#menphoto {
    position: relative;
    z-index: 1;
    width: 70%;
    height: 100%;
}
#back {
    position: absolute;
    margin-top: 150px;
    right: 0;
    background-color: #fcb100;
    z-index: 0;
    border-radius: 500px;
    height: 99vw;
    width: 100%;
}
.container1 div {
    z-index: 1;
    color: white;
}
.container1 .text {
    padding-left: 10vw;
    padding-right: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container1 .text h1 {
    margin: 0;
    font-size: max(50px,4vw);
    padding-right: max(30px,1vw);
}
.container1 .text p {
    padding-right: 5vw;
    /* margin-bottom: 40px; */
}
.container1 .text a{
    color: white;
    background-color: #f428bb;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 7px;
    width: 110px;
}
#milestone {
    background-color: #53d0ea;
    width: 200px;
    height: 70px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
#milestone h1, #milestone p {
    margin: 0;
}
#milestone img {
    width: 55px;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f7ff;

}
#weblayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: -100px;
    z-index: 1;
    width: 75%;
    border-radius: 20px;
}
#weblayout h1 {
    font-size: max(25px,1.8vw);
}
#weblayout p {
    margin: 0;
    font-size: max(13px,1vw);
}
#weblayout form {
    padding: 4vw 0 2vw;
    width: 95%;
    display: flex;
    justify-content: space-around;
}
#weblayout input {
    border: 1px solid #898989;
    border-radius: 5px;
    width: 13vw;
    height: max(20px,2.7vw);
    padding: 0px 10px;
    font-size: max(13px,1vw);
}
#weblayout .button {
    background-color: #f428bb;
    color: white;
    border: 0;
    width: max(80px,9vw);
}
.container2 .text {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.container2 .text h1 {
    margin: 0;
    font-size: max(30px,3vw);
}
.container2 .text p {
    width: 31%;
}
.services {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.services div {
    height: 300px;
    width: 250px;
    margin-bottom: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services div img {
    width: 75px;
    height: 85px;
}
.services div h1 {
    margin: 0;
    font-size: 22px;
}
.services div p {
    margin: 0;
}
.services div a {
    text-align: center;
    color: #ee66c8;
    border: 2px solid #ee66c8;
    border-radius: 5px;
    font-size: 19px;
    padding: 15px 20px;
    width: 100px;
    margin-top: 35px;
}
.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container3 .webimages {
    width: 100%;
    display: flex;
    align-items: center;
}
.container3 .webimages img {
    width: 20vw;
    height: 33vw;
    object-fit: fill;
}
.container3 .webimages div:last-child {
    display: flex;
    flex-direction: column;
}
.container3 .webimages div:last-child h1 {
    font-size: max(30px, 2.4vw);
}
.container3 .webimages div:last-child a {
    font-size: 19px;
    color: white;
    background-color: #eb32b7;
    border-radius: 5px;
    padding: 15px 0;
    width: 150px;
    text-align: center;
}
.starproject {
    display: flex;
    justify-content: center;
}
.starproject div {
    background-image: linear-gradient(to right, #802dcf, #5f27b5);
    width: max(350px,75%);
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
.starproject div h1 {
    font-size: max(30px, 2.4vw);
    margin: 0;
}
.starproject div a {
    font-size: 19px;
    color: white;
    background-color: #eb32b7;
    border-radius: 5px;
    padding: 15px 0;
    width: 150px;
    /* text-align: center; */
    margin-top: 20px;
}
.container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom, white, #f9f7ff);
}
.container4 .featured {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.container4 .featured h1 {
    font-size: max(30px, 2.4vw);
}
.container4 div button {
    color: #eb32b7;
    border: 1px solid #eb32b7;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(255,255,255,1);
}
.container4 div button:hover {
    color: white;
    background-color:  #eb32b7;
    cursor: pointer;
}
.container4 .webimages {
    display: flex;
    justify-content: space-between;
    width: max(350px,75%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.container4 .webimages img {
    width: 32.5%;
    height: 300px;
    object-fit: fill;
    border-radius: 20px;
}


footer{
    background: #fafafa;
    padding-top: 50px;
}
.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}
.list{
    padding: 0;
    color: rgb(5, 5, 5);
    text-decoration: none;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
    color: black;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: rgb(0, 225, 255);
    font-size: 25px;
}
a{
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: #f18930;
}
.social-icons i:hover{
    color: #f18930;
}
.bottom-bar{
    background: #fffefe;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
@media (min-width: 1210px) {
    .container2 {
        height: 1400px;
    }
}
@media (max-width: 1209px) {
    .container2 .text {
        margin-top: 30px;
    }
    .container3 .webimages {
        flex-direction: column-reverse;
    }
    .container3 .webimages div:first-child {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .container3 .webimages img {
        width: 32.5%;
    }
    .container3 .webimages div:last-child {
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 1182px) {
    .container4 {
        height: 600px;
    }
}
@media (min-width: 768px) {
    header button {
        display: none;
    }
    .container1 span {
        right: 10vw;
    }
    .services div {
        padding-right: 100px;
    }
    .container3 .webimages div:last-child {
        margin-left: 20px;
        width: 420px;
    }
}

@media (max-width: 767px) {
    header {
        justify-content: space-between;
        padding: 0 10px;
    }
    header button {
        display: block;
        height: 90%;
        width: 40px;
        background-color: white;
        color: #ee66c8;
        border: 1px solid #ee66c8;
    }
    header nav {
        display: none;
        position: absolute;
        top: 59px;
        left: 0;
        padding: 0 10px;
        width: 97.39%;
        background-color: white;
        height: 250px;
        z-index: 2;
    }
    header nav ul {
        flex-direction: column;
    }
    .container1 span {
        width: max(360px,100%);
    }
    #weblayout form{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    #weblayout input {
        width: 300px;
    }
    #weblayout .button {
        margin: 0 20vw;
    }
    .container2 .text {
        flex-direction: column;
        align-items: center;
    }
    .container2 .text p {
        width: 70%;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }
    .container1 .text {
        padding-right: 0;
    }
    .container3 .webimages div:last-child {
        padding: 0 10px;
    }
    .container4 .featured {
        flex-direction: column;
    }
    footer .container {
        flex-direction: column;
        align-items: center;
    }
}